name: massai mara park 01 gradle build

on:
  workflow_dispatch

jobs:
  mmpark01_gradle_build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
    
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission to Gradle wrapper
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: List JAR files
        run: ls -al ./build/libs

      - name: run springboot 
        run: |
          java -jar ./build/libs/massai_mara_park-0.0.1-SNAPSHOT.jar &
          sleep 30

      - name: run automated test
        run: |
          curl http://localhost:8080 || exit 1

      - name: run automated test
        run: |
          curl http://localhost:8080/images || exit 1

      - name: run automated test
        run: |
          curl http://localhost:8080/animal || exit 1
          